$slogan-color: #7b7b7b;

.logo {
  display: flex;
  align-items: center;
  gap: 5px;

  @media (min-width: 768px) {
    gap: 20px;
  }
}

.img {
  height: 28px;
  width: 28px;

  @media (min-width: 768px) {
    height: 54px;
    width: 54px;
  }
}

.title {
  font-size: 14px;

  @media (min-width: 768px) {
    font-size: 28px;
  }
}

.slogan {
  font-size: 10px;
  color: $slogan-color;

  @media (min-width: 768px) {
    font-size: 18px;
  }
}
