$title-color: #000;
$pizza-bg-color: #fff;
$size-bg-color: #f3f3f3;
$radius-color: #2c2c2c;
$radius-bg-hover: #fff;
$price-color: #000;
$btn-color-one: #eb5a1e;
$btn-color-two: #fff;
$count-color-one: #eb5a1e;
$count-color-two: #fff;
$desc-text-color: #777777;

.pizza {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 480px;
  width: 280px;
  gap: 15px;
  padding: 30px 10px;
  margin-bottom: 30px;
  border-radius: 10px;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.09);
  background: $pizza-bg-color;
  transition: all 0.3s ease-in;

  &:hover {
    transform: scale(1.05);
  }

  @media (min-width: 768px) {
    min-height: 530px;
    width: calc(100% / 2 - 15px);
  }

  @media (min-width: 1024px) {
    width: calc(100% / 3 - 20px);
  }

  @media (min-width: 1440px) {
    width: calc(100% / 4 - 23px);
    min-height: 510px;
  }
}

.link {
  display: flex;
  justify-content: center;
}

.img {
  width: 90%;
}

.title {
  color: $title-color;
  font-size: 20px;
  font-weight: 300;

  @media (min-width: 768px) {
    font-size: 24px;
  }
}

.desc {
  margin-bottom: 10px;
  font-size: 16px;
  color: $desc-text-color;
  text-align: center;

  @media (min-width: 768px) {
    font-size: 20px;
  }
}

.footer {
  // position: absolute;
  // bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}

.price {
  color: $price-color;
  font-size: 22px;
  font-weight: 700;
}

.btn {
  display: flex;
  align-items: center;
  padding: 10px 30px;
  gap: 10px;
  color: $btn-color-one;
  font-weight: 700;
  border: 1px solid $btn-color-one;
  border-radius: 30px;
  background: $btn-color-two;
  cursor: pointer;
  transition: all 0.3s ease-in;

  &:hover {
    color: $btn-color-two;
    background-color: $btn-color-one;

    & > .count {
      color: $count-color-one;
      background: $count-color-two;
    }
  }
}

.count {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $count-color-two;
  font-size: 13px;
  width: 22px;
  height: 22px;
  font-weight: 700;
  border-radius: 50%;
  background: $count-color-one;
  transition: all 0.3s ease-in;
}
